extends ../layouts/application
block before_start
  link(  rel="stylesheet", text="text/css", href="/static/stylesheets/application.css")
  
block content
  section(style="min-height: 500px;")
    .separator
      .line
      h2 LISTA DE DATOS
      .line
    .clear
    .wrapper(style="margin: 0 auto; max-width: 700px; padding-right: 320px;")
      .content(style="float: left; width: 100%; min-width: 400px; padding-right: 20px;")
        table.lists
          caption= theset.name
          thead
            tr
              th(width="20") No.
              -for( var i in theset.fields ){
                th= theset.fields[i].name
              -}
              - if( current_user ){
                th( width="100") Acciones
              -}
          tbody
            if rows.length > 0
              -for( var i in rows ){
                tr
                  td= +i + 1
                  - for( var j in theset.fields ){
                    td= rows[i].value.fields[j]
                  - }
                  td
                    a(href="/data/" + rows[i]._id + "/edit") Editar
                    button.btn-delete(type="button", data-type="data", data-id=rows[i]._id, style="background: none; border: none; color: #f00; text-decoration: underline; font-size: .8em; cursor: pointer;") Eliminar
              -}
      .sidebar(style="float: left; width: 280px; margin-right: -1000px; ")
        section.sectiongrey( style="text-align: left; padding: 0;" )
          h3( style="text-align: center; font-weight:bold; background: #13c4a5; color: #fff; padding: 0.3em;" ) Informacion
          .header( style="padding: 1em 1em 0; margin: 0;" )
            h4(style="padding: 0; margin: 0; font-weight: bold;")= theset.name
            p(style="padding: 0; margin: 10px 0 0 0; font-size: .8em; line-height: 1em;")= theset.description
          ol.lists
            li 
              | Lista creada por: 
              - if( current_user ){
                = current_user.name
              - }else{
                | NONE
              - }
            li
              | Creada el: 
              = new Date( theset.created_at ).getDate() + '-' + new Date(theset.created_at ).getMonth() + '-' +  new Date( theset.created_at ).getFullYear()
            li
              | Ultima actualizacion: 
              = new Date( theset.updated_at ).getDate() + '-' + new Date(theset.updated_at ).getMonth() + '-' +  new Date( theset.updated_at ).getFullYear()
            li 
              | API:
              input(type="text", disabled="disabled", value="http://api.ladata.co/datasets/#{theset.id}/") 
        .clear
        section.sectionteal(style="padding-top: 0; padding-bottom: 0; margin-top: 10px;")
          a.btn.btn-large.btn-primary( href="/datasets/" + theset.id + "/new", style="display: block; margin: 1px; color: #fff;" ) Agregar Datos
        - if( current_user ){
        .clear
        section.sectionteal(style="padding-top: 0; padding-bottom: 0; margin-top: 10px;")
          a.btn.btn-large.btn-primary( href="/datasets/" + theset.id + "/edit", style="display: block; margin: 1px; color: #fff;" ) Editar Tabla
        .clear
        section.sectionteal(style="padding-top: 0; padding-bottom: 0; margin-top: 10px;")
          button.btn.btn-danger.btn-large.btn-delete( data-type="datasets", data-dataset=theset.id, style="display: block; margin: 1px; color: #fff; width: 100%; cursor: pointer;" ) Eliminar
        - }
block before_end
  script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" )
  script.
    (function( $ ){
      $(function(){

        $( '.btn-delete[data-type="datasets"]' ).on( 'click', function( event ){
          event.preventDefault();

          set = $( this ).data( 'dataset' );
          console.log( set );
          $.ajax({
            url: '/datasets/' + set,
            method: 'DELETE',
            dataType: 'json',
            success: function( data ){
              console.log( data );
              if( data.status == true ){
                window.location = '/datasets';
              }
            }
          })
        })

        $( '.btn-delete[data-type="data"]' ).on( 'click', function( event ){
          event.preventDefault();

          var data = $( this ).data( 'id' );
          console.log( data );
          $.ajax({
            url: '/data/' + data,
            method: 'DELETE',
            dataType: 'json',
            success: function( data ){
              console.log( data );
              if( data.status == true ){
                window.location.reload();
              }
            }
          })

          console.log( this );
        })
      }) 
    })( jQuery )
