extends ../layouts/application
block before_start
  link(  rel="stylesheet", text="text/css", href="/static/stylesheets/application.css")

block content
  section
    .separator
      .line
      h2 Datos
      .line
    .clear
    #form.contact-form
      form#contact-form( action='/data/'+ thedata.id, method='post')
        h1= theset.name
        p Editar datos
        input(name="data[id]", value=thedata.id, type="hidden", value=thedata.id)
        input(name="data[dataset_id]", value=thedata.id, type="hidden", value=theset.id)
        fieldset.fields(style="margin: 0 auto; float: none;")
          - for( var i in theset.fields){
            label(for="")= theset.fields[i].name
            input.required( name="data[fields][" + i + "][value]", type='text', value=thedata.fields[i] )
            input( name="data[fields][" + i + "][field_id]", value=i, type='hidden' )
          - }
        .clear
        fieldset.submit(style="margin: 0 auto; float: none;")
          button#submit.btn.btn-primary.btn-submit(type="submit") Actualizar
block before_end
  script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" )
  script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")
  script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/localization/messages_es.js")
  script.
    ( function( $ ){
      $( function(){

        //Validate form
        $( '#form form' ).validate({
          errorElement: 'span'
        })
      }) 
    })( jQuery )
